<form asp-method="post" asp-action="Result">
    <div class="mb-3">
        <label for="Img" class="form-label">Image</label>
        <input type="text" class="form-control" placeholder="Please enter a URL" name="Img" id="Img" required />
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Jane" name="Name" id="Name" required />
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control"  placeholder="bundle of joy" name="Description" id="Description" required />
    </div>

    <div class="mb-3">
        <label for="Breed" class="form-label">Breed</label>
        <input type="text" class="form-control" placeholder="Cat,Dog,Etc" name="Breed" id="Breed" required />
    </div>
    <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" placeholder="0" name="Age" id="Age" required />
    </div>
    <div>
        <input type="submit" class="btn btn-light" />
    </div>
</form>